In [1]:
import pandas as pd
from sklearn.externals import joblib

test = pd.read_csv('input/test.csv')

In [2]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
model = joblib.load("testModel.pkl")

In [7]:
test_data = test.drop("PassengerId",axis=1).copy()
test_data.head()
prediction = model.predict(test_data)#prediction 시작

ValueError: could not convert string to float: 'C'